body #root form fieldset {
  border: 2px solid #1a8b95;
  border-radius: 6px;
  padding: 16px 20px;
  margin-top: 12px;
}
fieldset .field:not(.field-object) {
  padding: 4px 8px;
  border-bottom: 1px solid aliceblue;
  margin-bottom: 8px;
}
fieldset .field:last-child {
  border-bottom: 1px solid transparent;
}

legend {
  color: white;
  font-weight: bold;
  padding: 0 12px;
  letter-spacing: 1.5px;
  font-size: 1.2rem;
}

.field-description {
  font-size: 0.9rem;
  font-style: italic;
  margin: 0.5rem 0 0.8rem;
  white-space: pre-line;
  max-width: 80%;
  line-height: 1.5;
}

label {
  min-width: 320px;
  display: inline-block;
}

.btn-group {
  margin-top: 8px;
}

.btn {
  padding: 4px 8px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid darkslategrey;
  background: steelblue;
  color: white;
  margin: 0 16px;
}

/* settings for custom array buttons */
i.glyphicon {
  display: none;
}
.btn-add::after {
  content: "+ Add";
}
.array-item-move-up::after {
  content: "Move Up";
}
.array-item-move-down::after {
  content: "Move Down";
}
.array-item-remove::after {
  content: "^ Remove ^";
}
